<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Add Comment</title>

    <!-- Styles -->
    <link rel="stylesheet" href="" crossorigin="anonymous">

</head>
	<body>

		<h1>Add new comment</h1>
	    <!-- JavaScripts -->
	    <script src=""></script>
	</body>
</html>